$colors-as-required: #000000;
$font-size: 18px;
$line-height: 1.2;


// No limit to break-points. names are used throughout test of SASS when referend in the min-width max-width mixin's
$name-breakpoints-as-required: 680px;
