HTML
  head
    link(rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.20.0.css")
  body
    include ./page-components/js-includes.jade
    div(id="qunit")
    div(id="qunit-fixture")
    script(script src="http://code.jquery.com/qunit/qunit-1.20.0.js")
    script(src="tests/tests.js")
  
