// build:js /scripts/vendor.js
// bower:js
script(src='/bower_components/jquery/dist/jquery.js')
script(src='/node_modules/jslinq/src/jslinq.js')
script(src='/node_modules/signals/dist/signals.js')

// endbower
// endbuild

// build:js /scripts/main.js
script(src='/scripts/interfaces/CSSClassHelpers.js')
script(src='/scripts/interfaces/Config.js')
script(src='/scripts/Engine.js')
script(src='/scripts/HumanInteractions.js')
script(src='scripts/GameStage.js')
script(src='scripts/CardDisplay.js')
script(src='/scripts/main.js')
// endbuild 
